<b>{{ p.name }}</b>. Стоимость {% if p.sub %}абонемента{% else %}процедуры{% endif %}: {{ p.gross }}.{% if p.first %} <b><i>Новый клиент.</i></b>{% endif %}{% if p.sub %} Посещений в абонементе: {{ p.sub_visits  }}.{% endif %} Заработок с процедуры: {{ p.earning }} 
