<h4><u>{{ ordering }} клиент.</u> || Время посещения: {{ visit.client_name }}</h4>
<b><u>Процедуры:</u></b>
    <ol>
    {% for p in visit.procedures -%}
    <li>{{ p.report(pdf=True) }}</li>
    {% endfor -%}
    </ol>
<u><b>Общий доход с посещения</b></u>: {{ total }}
