{% macro build_list_of_subs(subs) %}
    {% for sub in subs -%}
        -> Стоимость абонимента: {{ sub.sub_gross }}
    {% endfor -%}
{% endmacro -%}
<b>{{ p.name }}</b>. {% if not p.manual_input %}{% if p.gross %}Разовое посещение. Стоимость: {{ p.gross }}{% else %} Абонимент(ы): {{ build_list_of_subs(p.subscriptions) }}{% endif %}{% else %} Сумма заработка введена вручную ({{ p.manual_value }}).{% endif %} Заработок: {{ p.earning }}
