<u><b>Время посещения</b></u>: {{ visit.visit_time }}
<u><b>Процедуры</b></u>:
    {% for p in visit.procedures -%}
    {{ loop.index }}) {{ p.report() }}
    {% endfor -%}
<u><b>Общий доход с посещения</b></u>: {{ total }}
