{% for v in workday.visits %}
{{ v.visit_report() }}
{% else %}
Нет сохранённых посещений в этот день.
{% endfor %}
<b>Время</b>: {{ workday.idle_time }} минут ({{ workday.get_idle_time_pay() }} рублей).

<b>Итого за рабочий день</b>: {{ workday.get_total() }} рублей.
